#map-container {
  width: 95vw;
  height: 95vh;
  margin: auto;
}

#search-form {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#pickup-location,
#dropoff-location {
  width: 100%;
  margin-bottom: 10px;
}

#submit-button {
  width: 100%;
}
